@if (ViewBag.CategoryExist != null)
{
    <div class="btn btn-outline-danger">@ViewBag.CategoryExist</div>
}
<form method="post" enctype="multipart/form-data">
    <div class="container">

        <div class="row">
            <div class="input-group my-2">
                <input name="CategoryName" id="title" class="form-control" type="text" placeholder="Name" />
                <div />
                <input type="submit" class="btn btn-outline-success" value="Create" />
            </div>
        </div>
</form>


