<form method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="input-group my-2">
                <input name="Title" id="title" class="form-control" type="text" placeholder="Title" />
            </div>
            <div class="input-group my-2">
                <input name="SubTitle" id="title" class="form-control" type="text" placeholder="Title" />
            </div>
                <div class="input-group my-2">
                <input name="NewPhoto" id="title" class="form-control" type="file" placeholder="photo" />
            </div>

            <input type="submit" class="btn btn-outline-success" value="Create" />
        </div>
    </div>
</form>